body{
    margin: 0 auto;
    font-family: sans-serif;
    width: 40vw;
}
header{
    height: 40vh;
    background:linear-gradient(to bottom, rgba(184, 184, 184, 0.5),rgba(184, 184, 184, 0.50)),  url("imagens/pc.jpg");
    background-size: cover;
}
/* estilo do menu  */
nav{
    height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.mazul{
    height: 5px;
    position: relative;

}
.mazul:hover{
    background-color: #4ACAFF ;
    height: 7px;
    position: relative;
    flex-direction: column;
}
a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.4em;
    color: aliceblue;
    font-weight: bolder;

}
.menu{
    margin:0;
    width: calc(30vw - 70px);
    display: flex;
    justify-content:space-evenly;
    align-content: center;
    position: relative;
    bottom:13px;
}
/* fim do estilo do menu  */
/* estilo do two bytes */
.tipografia{
    width: 6vw;
    height: 4vh;
    display: flex;
    padding: 0px;
    flex-direction: column;
 }
 .tipografia .two{
     font-size:0.8em;
     color: aliceblue;
     font-family: 'Montserrat', sans-serif;
 }
 .tipografia .bytes{
     font-size: 0.9em;
     color: aliceblue;
     font-family:'Raleway', sans-serif;
 }
 h6{
     font-size: 0.6em;
     color: aliceblue;
     font-family:'Montserrat', sans-serif;
     height: 6vh;
     position: relative;
     top:2vh;
     left: 1vw;
     margin:0;
 }
 .tipografia p{
     margin: 0px;
     display:flex;
     justify-content: center;
     position: relative;
 }
 /* fim do estilo do two bytes */
 /* estilo do campo de preenchimento */
 .campos{
    margin:2vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-content: center;
    width: calc(40vw - 4vh);
    height: 20vh;
}
h2{
    width: 30vw;
    font-size: 2em;
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
    margin-top:0px;
    margin:1vh;
    margin-bottom: 2vh;
}
 /* estilo dos inputs */
.qualemp{
    width:25vw;
    height:8vh;
    color: aliceblue;
    border:3px solid aliceblue;
    border-bottom: 3px solid #CDD0D1;
    border-radius: 3px;
}
.linha2{
    width:25vw;
    height:6vh;
    display:flex;
    justify-content: space-between;
    position: relative;
    bottom:4vh;
    margin:1vh;
}
.checkbox{
    width:60%;
    color: aliceblue;
    font-family:'Montserrat', sans-serif;
    font-size: 0.6em;
    display: inline;
    align-content: center;
    justify-content:space-between;
    position: relative;
}
.checkbox input{
    width: 10px;
    background-color: aliceblue;
}
select{
    display:inline;
    margin-left: 2%;
    width:45%;
    height:4vh;
    display: inline;
    color: gray;
    border: 2px solid #CDD0D1;
    border-radius: 3px;
    position: relative;
    /* bottom:5vh; */
}
/* fim do estilo dos inputs */
.search{
    position: relative;
    width: 6vw;
    height: 4vh;
    left: 30vw;
    bottom:5vh;
}
.search button{
    width: 6vw;
    height: 4vh;
    background-color: #4ACAFF;
    color: aliceblue;
    font-weight: bolder;
    border:none;
    border-bottom: 2px solid #3CAFDE;
}

 /* fim do estilo do campo de preenchimento */

.azul{
    display: flex;
    flex-direction: row;
    margin:0;
    position: relative;
    top:8vh;
}
 .azulc{
     width: 70px;
     height: 7px;
     background: #4ACAFF;
    
 }
 .azule{
    width: 70px;
    height: 7px;
    background: #3CAFDE;
    margin:0;
 }
.branca{
 height: 300px;
 display:flex;
 justify-content:center;
 align-items:center;
}
.branca h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color: black;
    position: relative;
    bottom:40px;
    justify-content:center;
    left:275px;
}